.bodyLogin {
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://fermelamarmotte.fr/images/c97b843dd9a2f2443fa42ebe707c14d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: contrast(0.5);
    margin:0;
    padding:0;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.form-signin {
    max-width: 420px !important;
    margin:auto;
}

.bodyRegister {
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.form-register {
    max-width: 420px !important;
    margin:auto;
}

.navigbar {
    display: block;
}

.image-circle {
    width:35px;
    height:35px;
    object-fit:cover;
    border-radius:50%;
    margin-right: 5px;
}

.error-text {
    color:red;
    font-weight: bold;
}

.success-text {
    color:green;
    font-weight: bold;
}